:root {
  --primary-color: #28404F;
  --secondary-color: #848191;
  --white-color: #fff;
  --bg: #2bbbb2;
  --red: #ff4a57;
}


.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projectsSection {
  display: flex;
  min-height: 400px;
  width: min(100%, 1200px);
  padding: 30px;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  background: var(--red);
}

.header {
  color: var(--primary-color);
  font-size: 40px;
  font-weight: 800;
}

.note {
  color: #fff;
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto;
}

.header,
.note {
  margin: 5px 0 20px 0;
  /*   text-align: left; */
}

.projectsList {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  grid-gap: 10px;
  gap: 10px;
  justify-content: space-around;
}

.project {
  width: min(300px, 100%);
  padding: 10px;
  text-align: left;
  background-color: #848191;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.project img {
  width: 95%;
  border-radius: 10px;
  margin: 0 auto;
}

.project h4 {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0 0 0;
}

.project p {
  color: #fff;
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

.buttons button {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
}

.buttons button:first-child {
  background-color: var(--primary-color);
  margin-right: 10px;
}

.buttons button:last-child {
  border: 2px solid var(--primary-color);
  background-color: transparent;
}

/* @media screen and (min-width: 700px) {
  .projectsList {
    width: 110%;
  }
} */

@media screen and (max-width:669px) {
  .projectsList {
    justify-content: center;
  }
}