.skillsSection{
    display: flex;
    width: min(100%, 1200px);
    padding: 60px 30px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: left;
}

.skills {
    /* text-align: left;
    padding: 60px 30px;
    width: min(1200px,100%);
    margin: 0 auto; */
}

.header {
    color: #ff4a57;
    font-size: 4rem;
}

.header span{
    border-bottom: 5px solid #ff4a57;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    color: #fff;
    width: 350px;
    margin: 30px 0;
    background: #2B2D41;
    padding: 50px 30px;
}

.skill img {
    height: 50px;
}

.skillItems{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.skillTitle{
    font-size: 28px;
    font-weight: 800;
}

.note{
    font-size: 18px;
}

@media screen and (max-width: 700px) {
   .skill{
    width: min(350px,100%);
    margin: 0 auto;
   }
   .note{
    font-size: 15px;
   }
   .header{
    margin-bottom: 20px;
   }
   .skillTitle{
    font-size: 25px;
   }
}